
@font-face {
    font-family: ChinaCyr;
    src: url(../fonts/ChinaCyr.ttf);
}

html body {
    font-family: ChinaCyr;
    background: #000000;
}

#layout {
    background: #000000;
}

#header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000000;
}

#quote {
    text-align: left;
}

#main-middle {
    float: left;
    width: 100%;
    background: #000000;
}

.main-middle-content {
    margin: 0 150px 20px 150px;
    text-align: center;
}

.main-middle-content img {
    text-align: left;
}

#main-left {
    float: left;
    width: 150px;
    text-align: right;
    margin-left: -100%;
    background: #000000;
}

#main-left img {
    text-align: left;
}

#main-left a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

 #main-left .pure-menu,
 #main-left .pure-menu ul {
    border: none;
    background: transparent;
}

#main-left .pure-menu ul,
#main-left .pure-menu .menu-item-divided {
    border-top: 1px solid #000000;
}

#main-left .pure-menu li a:hover,
#main-left .pure-menu li a:focus {
    background: #333;
}

#main-left .pure-menu-selected,
#main-left .pure-menu-heading {
    background: #1f8dd6;
}

#main-left .pure-menu-selected a {
    color: #fff;
}

#main-left .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}

#content-left {
    position: fixed;
    top: 250px;
    width: 170px;
}

#main-right {
    float: left;
    width: 150px;
    margin-left: -195px;
    text-align: left;
    background: #000000;
}

#main-right a {
    color: white;
    border: none;
    font-weight: bold;
    padding-top: 8px;
}

#main-right .pure-menu,
#main-right .pure-menu ul {
    border: none;
    background: transparent;
}

#main-right .pure-menu ul,
#main-right .pure-menu .menu-item-divided {
    border-top: 1px solid #000000;
}

#main-right .pure-menu li a:hover,
#main-right .pure-menu li a:focus {
    font-weight: bold;
    background: #000000;
    color: #e7463d;
}

#content-right {
    position: fixed;
    top: 80px;
    width: 170px;
    font-size: 11pt;
}

.multiline-link {
    display: block;
}

.multiline-link span {
    display: inline-block;
}

.menu-separator {
    margin-left: 20px;
}

#footer-content {
    width: 956px;
    margin: 0 auto;
}

#footer-middle {
    float: left;
    width: 100%;
    background: #000000;
}

.footer-middle-content {
    margin: 20px 150px 20px 350px;
    text-align: center;
}

#footer-left {
    float: left;
    width: 350px;
    text-align: left;
    margin-left: -100%;
    background: #000000;
}

#footer-left div {
    color: white;
    font-size: 10pt;
    font-weight: bold;
}

#footer-right {
    float: left;
    width: 150px;
    margin-left: -150px;
    text-align: right;
    background: #000000;
}

#footer-right span:first-child {
    color: #868686;
    font-size: 7pt;
    font-weight: bold;
}

#copyright {
    font-family: Serif;
    font-size: 8pt;
    color: #868686;
}

#footer-right span:last-child {
    font-size: 7pt;
    font-weight: bold;
    color: white;
}

.gray-text {
    color: #868686;
}
