
#topsection {
    background: #000000;
}

#topsection {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

#quote {
    text-align: left;
}

#main{
    float: left;
    width: 100%;
    background: #000000;
}

.content {
    margin: 0 150px 0 150px;
    text-align: center;
}

.content img {
    text-align: left;
}

#menu-left {
    float: left;
    width: 150px;
    text-align: right;
    margin-left: -100%;
    background: #000000;
}

#menu-left img {
    text-align: left;
}

#menu-left a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

 #menu-left .pure-menu,
 #menu-left .pure-menu ul {
    border: none;
    background: transparent;
}

#menu-left .pure-menu ul,
#menu-left .pure-menu .menu-item-divided {
    border-top: 1px solid #000000;
}

#menu-left .pure-menu li a:hover,
#menu-left .pure-menu li a:focus {
    background: #333;
}

#menu-left .pure-menu-selected,
#menu-left .pure-menu-heading {
    background: #1f8dd6;
}

#menu-left .pure-menu-selected a {
    color: #fff;
}

#menu-left .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}

#menu-right {
    float: left;
    width: 150px;
    margin-left: -150px;
    background: #000000;
}

#menu-right a {
    color: #999;
    border: none;
    padding: 0.6em 0 0.6em 0.6em;
}

#menu-right .pure-menu,
#menu-right .pure-menu ul {
    border: none;
    background: transparent;
}

#menu-right .pure-menu ul,
#menu-right .pure-menu .menu-item-divided {
    border-top: 1px solid #000000;
}

#menu-right .pure-menu li a:hover,
#menu-right .pure-menu li a:focus {
    background: #333;
}

#menu-right .pure-menu-selected,
#menu-right .pure-menu-heading {
    background: #1f8dd6;
}

#menu-right .pure-menu-selected a {
    color: #fff;
}

#menu-right .pure-menu-heading {
    font-size: 110%;
    color: #fff;
    margin: 0;
}
