<span ng-show="authError">Ошибка авторизации</span>

<form class="pure-form pure-form-aligned" ng-submit="auth">
    <fieldset>
        <div class="pure-control-group">
            <label for="login">login:</label>
            <input type="text" ng-model="login" id="login">
        </div>

        <div class="pure-control-group">
            <label for="password">login:</label>
            <input type="text" ng-model="password" id="password">
        </div>

        <div class="pure-controls">
            <input class="pure-button">
        </div>
    </fieldset>
</form>